.container{
    height: 50vh;
    width: fit-content;
    margin: 2rem;
    overflow-y: scroll;
    border-bottom: 5rem;
    border-radius: 8px;
    box-shadow: inset 0 0 10px rgba(210, 187, 187, 0.5);
}

.container::-webkit-scrollbar{
    display: none;
}