.container{
    border-bottom: 1px solid #C3C3C3;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.8rem;
    margin-bottom: 1rem;
}

.mainTitle{
    font-family: 'Roboto';
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
}

.subTitle{
    font-family: 'Roboto';
    font-size: 1.2rem;
    font-weight: 500;
    color: white; 
}
