.outer{
    height: 40vh;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 10rem;
    padding-left: 2rem;
    padding-right: 1rem;
    margin-left: 1rem;
    align-items: center;
}

.dashboardText{
    position: absolute;
    font-size: 1rem;
    font-family: 'Poppins';
    font-weight: 700;
    color: #FFFFFF;
    margin: auto;
    background-color: #464646;
    border-radius: 7px;
    width: 190px;
    height: fit-content;
}

.dashboardContent{
    position: absolute;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    font-family: 'Poppins';
    font-weight: 700;
    color: #747474;
    top: 15%;
}